body {
  background-color: #daead4; }

header {
  margin-top: 30px; }

.nav .logo {
  height: 150px;
  width: 150px;
  background-color: #8FC07F;
  border-radius: 50%;
  display: block;
  margin: auto;
  box-shadow: 5px 5px 5px grey; }

.nav img {
  height: 130px;
  display: block;
  margin: auto;
  padding-top: 30px; }

.nav .menu ul {
  margin-top: 30px;
  margin-left: 40%;
  list-style: none;
  padding: 0; }
  .nav .menu ul li {
    display: inline-block;
    margin-left: 20px; }

.nav .menu .home, .nav .menu .add {
  height: 50px;
  width: 70px;
  width: auto;
  display: block;
  margin: auto;
  padding-top: 12px;
  font-size: 18px;
  font-family: "Merienda",cursive;
  border: none;
  background-color: #8FC07F; }
  .nav .menu .home a, .nav .menu .add a {
    color: white; }

.nav .menu a:hover {
  background-color: white;
  color: #8FC07F; }

.images {
  height: 200px;
  background-color: white; }

.imgAdd {
  margin-top: 30px; }
  .imgAdd input {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid #71af5d; }
  .imgAdd button {
    width: 100px;
    display: block;
    margin-left: 200px;
    margin-top: 20px;
    background-color: #8FC07F;
    color: white; }
  .imgAdd .description {
    height: 200px;
    width: 65%;
    margin-right: 80px; }
