body {
  background-color: #daead4; }

header {
  margin-top: 10px; }

footer {
  margin-top: 100px;
  height: 80px;
  width: 100%;
  text-align: center;
  background: #8FC07F; }
  footer .disclaimer img {
    margin-top: 10px;
    height: 40px; }
  footer .disclaimer p {
    padding-top: 0px;
    color: white; }

.nav .logo {
  height: 150px;
  width: 150px;
  background-color: #8FC07F;
  border: 1px solid white;
  border-radius: 50%;
  display: block;
  margin: auto;
  box-shadow: 5px 5px 5px grey; }

.nav img {
  height: 130px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-left: 24px; }

.nav .menu {
  background-color: #8FC07F;
  border-top: 2px solid #e9f2e6;
  border-bottom: 2px solid #5a9148;
  margin-top: 20px; }
  .nav .menu ul {
    margin-top: 10px;
    margin-left: 40%;
    list-style: none;
    padding: 0; }
    .nav .menu ul li {
      display: inline-block;
      margin-left: 20px; }
  .nav .menu .home, .nav .menu .add {
    height: 100%;
    width: 70px;
    width: auto;
    display: block;
    margin: auto;
    padding-top: 10px;
    font-size: 18px;
    font-family: "Merienda",cursive;
    border: 1px solid white;
    color: white;
    background-color: #b55437;
    box-shadow: 5px 5px 5px grey; }
    .nav .menu .home a, .nav .menu .add a {
      color: white; }
  .nav .menu a:hover {
    background-color: white;
    color: #8E422B;
    border: 1px solid #8E422B; }

.images {
  margin-top: 20px; }
  .images img {
    height: 220px;
    width: 100%;
    background-color: white;
    border-radius: 4px 4px 0px 0px; }

.imgAdd {
  margin-top: 30px; }
  .imgAdd input {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #8E422B;
    color: #8E422B;
    background-color: white; }
  .imgAdd button {
    width: 100px;
    display: block;
    margin-left: 200px;
    margin-top: 20px;
    background-color: #8FC07F;
    color: white; }
  .imgAdd .description {
    height: 200px;
    width: 65%;
    margin-right: 80px; }

.bar {
  height: 30px;
  background-color: #9ec890;
  border-radius: 0px 0px 3px 3px;
  border-bottom: 1px solid #8E422B; }
  .bar p {
    font-size: 16px;
    color: white;
    display: inline-block; }
  .bar i {
    display: inline-block;
    margin-left: 80px;
    margin-top: 5px;
    color: white;
    font-size: 20px; }

.imageContainer i {
  color: #8E422B;
  font-size: 70px;
  left: 41%;
  position: absolute;
  top: 33%; }

.imageContainer .highlight {
  color: white;
  font-size: 65px;
  left: 42%;
  position: absolute;
  top: 33%; }

.detailImg {
  margin-top: 30px; }
  .detailImg .imageContainer img {
    width: 650px; }

.details {
  margin-top: 30px;
  margin-left: -30px;
  color: #8FC07F;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 10px; }
  .details h2 {
    text-decoration: underline;
    font-family: "Merienda"; }
  .details p {
    font-size: 20px; }
  .details i {
    font-size: 30px; }
  .details .detLikes {
    font-size: 30px;
    font-family: "Merienda"; }

@media only screen and (max-width: 990px) {
  .menu ul {
    margin-left: 20%; }
  .detailImg .imageContainer img {
    width: 90%; }
  footer {
    margin-bottom: 0; }
  .imgAdd button {
    margin-left: 230px; }
  .imgAdd .description {
    height: 200px;
    width: 65%;
    margin-right: 93px; } }

@media only screen and (max-width: 3700px) {
  .menu ul li {
    margin: auto; }
  .menu .home, .menu .add {
    margin-left: -30px; }
  .detailImg .imageContainer img {
    width: 90%; }
  footer {
    margin-bottom: 0; }
  .imgAdd button {
    margin-left: 100px; }
  .imgAdd .description {
    height: 200px;
    width: 65%;
    margin-right: 55px; } }
