$primaryColor: #8FC07F;

body{
	background-color:lighten($primaryColor,25);
}

header {
	margin-top: 30px;
}

.nav {
	.logo{
		height: 150px;
		width:150px;
		background-color:$primaryColor;
		border-radius: 50%;
		display:block;
		margin:auto;
		box-shadow: 5px 5px 5px grey;
	}
	img{
		height:130px;
		display:block;
		margin:auto;
		padding-top: 30px;
	}

	.menu {
		ul{
			margin-top: 30px;
			margin-left: 40%;
			list-style:none;
			padding:0;
			li{
				display: inline-block;
				margin-left: 20px;
			}
		}
	.home, .add {
		height:50px;
		width: 70px;
		width: auto;
		display:block;
		margin:auto;
		padding-top:12px;
		font-size: 18px;
		font-family: "Merienda",cursive;
		border:none;
		background-color:$primaryColor;
			a{
			color:white;
			}
		}
		a:hover{
				background-color:white;	
				color:$primaryColor;
			}
	}
}

.images {
	height:200px;
	background-color: white;
}

.imgAdd {
	margin-top:30px;
	input{
	width:50%;
	display:block;
	margin:auto;
	margin-top:20px;
	border-radius:5px;
	border:2px solid darken($primaryColor,10);
	}
	button{
	width:100px;
	display:block;
	margin-left:200px;
	margin-top: 20px;
	background-color:$primaryColor;
	color:white;
	}
	.description{
		height: 200px;
		width: 65%;
		margin-right: 80px;
	}
}