$primaryColor: #8FC07F;
$secondaryColor:#8E422B;

body{
	background-color:lighten($primaryColor,25);
}

header {
	margin-top: 10px;
}

footer{
	margin-top:100px;
	height:80px;
	width:100%;
	text-align:center;
	background:$primaryColor;
	.disclaimer{
		img{
			margin-top: 10px;
			height:40px;

		}
		p{
		padding-top: 0px;
		color:white;	
		}
	}
}

.nav {
	.logo{
		height: 150px;
		width:150px;
		background-color:$primaryColor;
		border:1px solid white;
		border-radius: 50%;
		display:block;
		margin:auto;
		box-shadow: 5px 5px 5px grey;
	}
	img{
		height:130px;
		display:block;
		margin:auto;
		margin-top: 20px;
		margin-left: 24px;
	}

	.menu {
		background-color:$primaryColor;
		border-top:2px solid lighten($primaryColor,30);
		border-bottom:2px solid darken($primaryColor,20);
		margin-top: 20px;
		ul{
			margin-top: 10px;
			margin-left: 40%;
			list-style:none;
			padding:0;
			li{
				display: inline-block;
				margin-left: 20px;
			}
		}
	.home, .add {
		height:100%;
		width: 70px;
		width: auto;
		display:block;
		margin:auto;
		padding-top:10px;
		font-size: 18px;
		font-family: "Merienda",cursive;
		border:1px solid white;
		color:white;
		background-color:lighten($secondaryColor,10);
		box-shadow: 5px 5px 5px grey;
			a{
			color:white;
			}
		}
		a:hover{
				background-color:white;	
				color:$secondaryColor;
				border:1px solid $secondaryColor;
			}
	}
}

.images {
	margin-top:20px;
	width:auto;
	img{
	height:220px;
	width:290px;
	background-color: white;
	border-radius:4px 4px 0px 0px;
	}
}

.imgAdd {
	margin-top:30px;
	input{
	width:50%;
	display:block;
	margin:auto;
	margin-top:20px;
	border-radius:5px;
	border:1px solid $secondaryColor;
	color:$secondaryColor;
	background-color:white;
	}
	button{
	width:100px;
	display:block;
	margin-left:200px;
	margin-top: 20px;
	background-color:$primaryColor;
	color:white;
	}
	.description{
		height: 200px;
		width: 65%;
		margin-right: 80px;
	}
}

.bar {
	height:30px;
	//margin-top:-3px;
	background-color:lighten($primaryColor,5);
	border-radius: 0px 0px 3px 3px;
	border-bottom: 1px solid $secondaryColor;
	p{
		font-size: 16px;
		color:white;
		display: inline-block;
	}
	i{
		display: inline-block;
		margin-left:80px;
		margin-top: 5px;
		color:white;
		font-size: 20px;
	}
}

.imageContainer {

	i{
	color:$secondaryColor;
    font-size: 70px;
    left: 41%;
    position: absolute;
    top: 33%;
	}
	.highlight {
		color:white;
		font-size: 65px;
		left: 42%;
    	position: absolute;
    	top: 33%;
	}
}

.detailImg {
	margin-top:30px;
	.imageContainer{
		img{
			width: 650px;
		}
	}
}

.details {
	margin-top:30px;
	margin-left:-30px;
	color:$primaryColor;
	background-color:white;
	border-radius:5px;
	padding-bottom:10px;
	h2 {
		text-decoration: underline;
		font-family: "Merienda";
	}
	p{
		font-size: 20px;
	}
	i{
		font-size: 30px;
	}

	.detLikes{
		font-size: 30px;
		font-family: "Merienda";
	}
}

@media only screen and (max-width: 990px) {
	.menu {
		ul{
			margin-left: 20%;
		}
	}
	.detailImg {
		.imageContainer{
		img{
			width:90%;
			}	
		}
			
	}
	footer{
		margin-bottom: 0;
	}
	.imgAdd {
	button{
	margin-left:230px;
	}
	.description{
		height: 200px;
		width: 65%;
		margin-right: 93px;
	}
}
} 
@media only screen and (max-width: 3700px) {
	.images{
		margin-left: 20px;
	}
	.menu {
		ul {
			li{
				margin: auto;
			}
		}
		.home, .add{
			margin-left: -30px;
		}
	}
	.detailImg {
		.imageContainer{
		img{
			width:90%;
			}	
		}
			
	}
	footer{
		margin-bottom: 0;
	}
	.imgAdd {
	button{
	margin-left:100px;
	}
	.description{
		height: 200px;
		width: 65%;
		margin-right: 55px;
	}
}
} 