<div class="row homeImgs">
	<div class="col-md-3 col-sm-3 col-xs-12 images" ng-repeat="images in home.data" > 
		<div class="imageContainer">
			<img ng-dblclick="home.postLikes(images)" ng-init="count=0" src="{{images.url}}"> 
			<i class="fa fa-heart ng-hide" ng-show="images.show"></i>
			<i class="fa fa-heart highlight ng-hide" ng-show="images.show"></i>
		</div>
		<div class="bar">
			<i class="fa fa-gratipay" aria-hidden="true"></i><p>: {{images.likes | number}}</p>
			<a href="#/detail/{{images._id}}"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
		</div>
	</div>
</div>